<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file uploads</title>

</head>
<body>
    <div class="app">
        <div class="form-section">
            <h1>Upload a Folder</h1>
            <form id="upload-form" enctype="multipart/form-data" action="{{ url_for('upload') }}" method="post">
                <label class="custom-file-upload">
                    <input type="file" id="folder-input" name="folder-input" webkitdirectory multiple required>
                    <span>Select Folder</span>
                </label>
                <button type="submit">Process</button>
            </form>
        </div>
        <div class="images-section">

        </div>

    </div>
</body>
</html>